body {
	margin: 25px 50px 75px 50px;
	font-family: "times";
	background-color: #F1E0DA;
}
h1{
	color: #940115;
	font-size: 40px;
}
p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
  }