body {
	margin: 25px 50px 75px 50px;
	font-family: "times";
	background-color: beige;
}
h1{
	color: #00008B;
	font-size: 40px;
}
h2{
	color: #00008B;
	font-size: 30px;
}

h3{
	color: #00008B;
	font-size: 25px;
	font-style: italic;
	text-shadow: 2px 2px pink;
	font-weight: bold;
}
p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
  }
a {
	border-style: outset;
	border-color: navy
}
img {
	border-radius: 8px;
}

img:hover {
	transform: scaleX(-1);
  }